.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  gap: 15px;
}

.text {
  color: var(--text-color);
  font: var(--font-l);
  transition: color var(--transition-fast);
  max-width: 650px;
}

.completed {
  text-decoration: line-through;
  color: var(--description-color);
}

.checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid gray;
  transition: var(--transition-fast);
}

.checkbox:hover {
  border-color: var(--primary-color);
  cursor: pointer;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  font-size: 20px;
  background-image: url(../../../../assets/images/checkmark.svg);
  background-repeat: no-repeat;
  transition: var(--transition-fast);
  border: none;
}

.checkbox:checked::after {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.deleteBtn {
  margin-left: auto;

  path {
    transition: fill var(--transition-fast);
  }
}

.deleteBtn:hover {
  cursor: pointer;

  path {
    fill: var(--primary-color);
  }
}
